@import "../../../data/styles.css";

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url('../images/banner-background.jpeg'); 
    background-size: cover; 
    background-position: center; 
    color: #fff; 
    text-align: center; 
  }
  
  .banner {
    text-align: center;
  }
  
  .banner-title {
    color: var(--quaternary-color);
	font-family: var(--secondary-font);
	font-size: 45px;
	font-weight: 700;
	width: 100%;

  }
    /* Animation */
  .banner {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 0.5s ease forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(-50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Responsive styles */
@media (max-width: 900px) {
    .banner-container {
      height: 200px;
    }
    
    .banner-title {
      padding-top: 30px;
      font-size: 32px;
    }
  

  }
  
  @media (max-width: 600px) {
    .banner-container {
      height: 150px;
    }
    
    .banner-title {
      font-size: 18px;
    }
  
   
  
    
  }
  